<p>Please confirm your email address to send your message to <%= @site_name %>:</p>

<p><%= link_to "Confirm and send my message", @confirm_url %></p>

<p>If you didn't fill out our contact form, you can ignore this email — nothing will be sent and no message will be kept.</p>
