<p>Thanks for subscribing to <%= @site_name %>.</p>

<p>Please confirm your email address to finish signing up:</p>

<p><%= link_to "Confirm my subscription", @confirm_url %></p>

<p>If you didn't request this, you can ignore this email — you won't be added to the list. You can also <%= link_to "unsubscribe", @unsubscribe_url %> at any time.</p>
