<%# locals: (record:) %>
<%# Read-only distributor links for a show page. %>
<% if record.distributors.any? %>
  <section class="distributors u-flow">
    <h2 class="subhead">Distributors</h2>
    <ul class="mrows">
      <% record.distributors.order(:platform).each do |distributor| %>
        <%= render "admin/distributors/row", distributor: distributor, manage: false %>
      <% end %>
    </ul>
  </section>
<% end %>
